
  input[type="text"],
  input[type="cname"],
  input[type="title"],
  input[type="bmail"] {
    padding-left: 40px;
    margin-bottom: 1px;
    margin-top: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 417px;
    height: 64px;
    font-size: 14px;
    font-weight: medium;
  }

  label {
    color: #A0ABBB;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
  }
  
  .typography{
    width: 138px;
    height: 29px;
  }

  button[type="submit"] {
    background-color: #559FF8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 190px;
    height: 50px;
    font-size: 20px;
  }

.card {
    padding-left: 0;
    background-color: #ffffff;
    border-radius: 40px;
    box-shadow: 0px 0px 40px rgba(0, 200, 255, 0.297);
    display: flex;
    height: 618px;
    width: 456px;
  }
  
  .box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
    width: 100%;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }
  
  .card-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
  
  .card-title {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    margin-right: 10px;
  }
  
  .card-subtitle {
    font-size: 24px;
    color: #D8100B;
    font-weight: bold;
  }
